body {
    background-color: blueviolet;
}

#heading {
    text-align: center;
    font-size: 7rem;
}

.btn {
    border: 5px gray solid;
    margin: 2%;
    /* size: 10rem; */
    height: 200px;
    width: 150px;
    background-color: aliceblue;
    font-size: 5rem;
    padding: auto;
    /* margin: auto; */
}

#button {
    text-align: center;
}

.w {
    background-image: url(./images/crash.png);
    background-repeat: no-repeat;
}

.a {
    background-image: url(./images/kick.png);
    background-repeat: no-repeat;
}

.s {
    background-image: url(./images/snare.png);
    background-repeat: no-repeat;
}

.d {
    background-image: url(./images/tom1.png);
    background-repeat: no-repeat;
}

.j {
    background-image: url(./images/tom2.png);
    background-repeat: no-repeat;
}

.k {
    background-image: url(./images/tom3.png);
    background-repeat: no-repeat;
}

.l {
    background-image: url(./images/tom4.png);
    background-repeat: no-repeat;
}

.pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}